@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{  margin: 0; /*Margin página completa*/
    padding: 0; /*Padding página completa*/
    font-family: "Raleway", sans-serif; /*Tipografía página completa*/
}

nav img{ 
    width: 40px; /*Anchura de la img del navbar*/
}

main{
    background-color: #000000; /*bg-color de todo el main*/
}

.linea1{ /*hr*/
    width: 80%; /*Anchura hr*/
    margin: 0 auto; /*Margen hr*/
    height: 1px; /*Altura hr*/
    color: #ffffff; /*Color hr*/
}

#tooltip i{ /*íconos Tooltip*/
    font-size: 20px; /*Tamaño ícono*/
    display: flex; 
    justify-content: center; /*Ubicación horizontal ícono*/
}

#tooltip button{ /*botón Tooltip*/
    width: 30px; /*Anchura Tooltip*/
    height: 30px; /*Altura Tooltip*/
}

@media (min-width: 992px) { /*Tamaño imágenes del carrusel*/
    .carousel-item img{
      height: 800px;
    }
  }

  @media (max-width: 992px) {
   footer h2{
    font-size: large;
   }
  }