@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{  margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

nav img{
    width: 40px;
}

.carousel-item img {
    height: 750px; 
}

main{
    background-color: black;
}

.linea1{
    width: 80%; 
    margin: 0 auto; /* Centra la línea horizontal */
    height: 1px; /* Grosor de 1 píxel */
    color: white;
}

#tooltip i{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

#tooltip button{
    width: 30px;
    height: 30px;
}